<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.example.floating_window_android">
  
  <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />
  
  <application>
    <service android:name=".OverlayService" 
        android:exported="false"
        android:foregroundServiceType="specialUse">
        <property 
            android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE"
            android:value="用于显示悬浮窗"/>
    </service>
  </application>
</manifest>
